body{
	background-color: #000000;
	font-family: 'VT323', monospace;
	color: #FFFFFF;
	margin: 0;
}


/*HEADER E NAVBAR*/

.navbar{
	display: flex;
	justify-content: flex-end;
	position: fixed;
	color: #262394;
	background-color: #000000;
	box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.3);
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
}

.navbar ul{
	margin: 15px 20px 15px 0;
}

.navbar ul li{
	text-decoration: none;
	list-style: none;
	text-transform: uppercase;
	float: right;
	padding-left: 15px
}

.navbar ul li a{
	font-family: 'VT323', monospace;
	text-decoration: none;
	font-size: 25px;
}

/*FULLPAGE*/

#sobre, .box-titulo{
	height: 100vh;
}

/*SECAO INICIO*/
/*TEXTOS PRINCIPAIS*/


.box-titulo{
	max-width: 100%;
	text-align: center;
	position: relative;
}

.textos{
	position: absolute;
	top: 50%;
	transform: translate(40%, -50%);
	padding: 30px;
	width: 50%;
	background-color: #000000;
	border: 3px #FF00FF dashed;
}

.textos > .titulo{
	font-family: 'VT323', monospace;
	display: block;
	font-size: 50px;
	color: #FFFFFF;
}

.textos > .titulo{
	font-weight: normal;
	color: #FFFF00;
}

.texto-titulo{
	font-size: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 30px;
	font-family: 'VT323', monospace;
}

/*VIDEO BACKGROUND*/

.bg_video{
 position: absolute; 
 right: 0; 
 bottom: 0;
 min-width: 100%; 
 min-height: 100%;
 width: auto; 
 height: auto; 
 z-index: -1000;
 background: url(../videos/bg.mp4) no-repeat;
 background-size: cover; 
}


/*SECAO CARREIRAS*/

.secao-carreiras h1{
	padding: 0 20px 0 20px;
	font-family: 'VT323', monospace;
	font-style: normal;
	font-size: 40px;
	color: #FFFFFF;
	text-align: center;
}

.icones-areas{
	display: flex;
	justify-content: center;
	max-width: 80%;
	margin: 10px auto;
}

.icones-areas img{
	width: 70%;
	height: auto;	
}

.icones-areas div{
	color: #FFFFFF;
	text-align: center;
	width: 25%;
}

.icones-areas div h2{
	font-size: 35px;
	margin-top: 5px;
}

.icones-areas div ul{
	list-style: none;
	font-size: 25px;
	text-transform: uppercase;
	padding-left: 0;
	line-height: 23px;
}

.chamada-lista{
	padding-bottom: 10px;
	font-family: 'VT323', monospace;
	font-size: 35px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
}

.botao-lista a:hover{
	color: #00FFFF;
}


/*SECAO GLOSSARIO*/

#lista{
	height: 100vh;
	position: relative;
	z-index: 1000;
}

.campos-lista{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	width: 80%;
}

.campos-lista h1{
	color: #00FF00;
	text-align: center;
	font-size: 50px;
	text-transform: uppercase;
}

#busca form{
	text-align: center;
}

.container-dicionario{
	margin-top: 30px;
	height: 50vh;
	overflow: scroll;
	overflow-x: hidden;
	color: #00FF00;
}

#dicionario{
	padding-top: 20px;
	font-size: 30px;
}

input[type=search]{
	width: 80%;
	color: #FFFFFF;
	font-family: 'VT323', monospace;
	font-size: 20px;
	background-color: #000000;
	padding: 10px;
	border: 2px solid #00FF00;
}


/*SECAO MULHERES*/

.conteudo-mulheres{
	display: flex;
	align-items: center;
}

.texto-mulheres{
	padding: 40px;
	width: 60%;
}

.texto-mulheres h2{
	color: #FF00FF;
	font-size: 35px;
	text-transform: uppercase;
}

.texto-mulheres p{
	color: #FFFF00;
	font-size: 25px;
}

.mulheres-img{
	width: 40%;
	padding: 20px;
}

.mulheres-img img{
	width: 100%;
}


/*SECAO SOBRE*/

.dados-sobre{
	display: block;
	text-align: center;
	font-size: 25px;
	margin: auto;
}


/*SECAO SOBRE*/
/*EFEITO MARQUEE PARA AGRADECIMENTOS*/

.container-thanks {
	text-align: center;
    width: 80%;
    height: 400PX;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.marquee {
    top: 30px;
    position: relative;
    box-sizing: border-box;
    animation: marquee 25s linear infinite;
}

.marquee li{
	list-style: none;
}

/*ANIMACAO MARQUEE SOBRE*/

@keyframes marquee {
    0%   { top:   600px }
    100% { top: -1500px }
}

.container-thanks .marquee {
  	color: #FFFFFF;
  	font-size: 25px;
}

.container-thanks:before, .container-thanks::before,
.container-thanks:after,  .container-thanks::after {
    left: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.container-thanks:after, .container-thanks::after {
    bottom: 0;
    transform: rotate(180deg);
}

.container-thanks:before, .container-thanks::before {
    top: 0;
}

.marquee .rosa{
	color: #FF00FF;
}

.marquee .amarelo{
	color: #FFFF00;
}

/*WEBKIT PARA CUSTOMIZACAO DO SCROLLBAR*/


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0;
    border-radius: 0;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(0,255,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
 background: rgba(0,0,0,0.4); 
}
::-webkit-scrollbar-button {
    background: black;
}


/*RESPONSIVIDADE*/

@media screen and (max-width:768px){

	.navbar ul li a{
	font-size: 15px;
}

.textos{
	display: block;
	transform: translateY(-50%);
	margin-left: 6%;
	width: 70%;
}

.textos > .titulo{
	font-size: 30px;
}

.texto-titulo{
	font-size: 20px;
}

.secao-carreiras h1{
	margin-top: 30px;
	padding: 30px 5px 10px 5px;
	font-size: 30px;
}

.icones-areas{
	display: block;
	width: 90%;
	margin: 0 auto 0 auto;
}

.icones-areas div{
	margin: 0 auto 0 auto;
	width: 80%;
}

.icones-areas div h2{
	font-size: 35px;
	margin-top: 10px;
}

.campos-lista h1{
	font-size: 25px;
}

#dicionario{
	font-size: 20px;
}

input[type=search]{
	width: 80%;
	color: #FFFFFF;
	font-family: 'VT323', monospace;
	font-size: 20px;
	background-color: #000000;
	padding: 10px;
	border: 2px solid #00FF00;
}

.conteudo-mulheres{
	padding-top: 30px;
	display: block;
}

.texto-mulheres{
	text-align: center;
	padding-top: 0;
	width: 80%;
}

.texto-mulheres h2{
	font-size: 30px;
}

.texto-mulheres p{
	font-size: 20px;
}

.mulheres-img{
	width: 40%;
	margin: 0 auto 0 auto; 
}

.dados-sobre img{
	padding-top: 50px;
	width: 50%;
}

.dados-sobre p{
	font-size: 20px;
	padding: 0 20px 0 20px;
}

.container-thanks {
    margin: 0 auto;
}

.container-thanks ul{
	padding: 0;
}
}